@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Workers";
}
@model MrFixIt.Models.Worker

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var listJob in Model.Jobs)
        {
            <h5>@Html.DisplayFor(modelJob => listJob.Title)</h5>
            <p id="complete-result"></p>

             
            @if(listJob.Completed == true)
            {

                <p>Thank you for completing this Job!</p>
            }

            @if (listJob.Pending == false)
            {
                <p class="btn">This job is not performed. @Html.ActionLink("Work on This Job", "Perform", new { id = listJob.JobId })</p>
            }
            else
            {
                @if (listJob.Completed == false)
                {
                    <p class="btn">Completed? @Html.ActionLink("Yes", "Complete", new { id = listJob.JobId })</p>
                }
            }

        }

        @if (!Model.Avaliable)
        {
            <h4>Please @Html.ActionLink("select a job", "Index", "Jobs").</h4>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }

        <div id="pending"></div>
    </div>
}